Flask==3.1.1
PyMuPDF==1.26.0
sentence-transformers==4.1.0
xgboost==3.0.2
torch==2.7.1
transformers==4.52.4
joblib==1.5.1
numpy==2.3.0
pandas==2.3.0
scikit-learn==1.7.0
scipy==1.15.3
tqdm==4.67.1
regex==2024.11.6
urllib3==2.4.0
requests==2.32.4
huggingface-hub==0.32.4
fsspec==2025.5.1
packaging==25.0
typing_extensions==4.14.0


